:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color:#757575;
  --secondary-text-color: #212121;
  --third-text-color: #000000;
  --accent-color: #2196f3;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  
}

/*---------Header---------*/

.header-logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--third-text-color);
margin-right: 93px;
}
.accent {
color: var(--accent-color);
}
.header-link {
display: block;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  }
.header-adress-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  }
.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--accent-color);
}
.header-container {
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-contact {
  margin-left: auto;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-address-item{
  margin-left: auto;
}
.header-list .header-item {
  margin-right: 50px;
 }
 .header-list .header-item:last-child {
  margin-right: 0;
 }
 .header-address .header-address-item {
   margin-right: 50px;
}
 .header-address .header-address-item:last-child {
 margin-right: 0;
 }

/*----------HERO---------*/

.hero {
background-color: #2F303A;

}
.hero-container {
padding-top: 200px;
padding-bottom: 280px;
align-items: center;
text-align: center;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-title-color);
max-width: 696px;
}
.hero-btn {
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border:none;
  color: var(--primary-title-color);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--primary-title-color);
  }
  /*--------ABOUT------*/

.about-container {
    padding-top: 94px;
    padding-bottom: 47px;
  }
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  }
.about-list .about-item {
width: 270px;
}
.about-item{
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.about-after-title {
min-width: 270px;
margin: 0 auto;
}
.about-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.about-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*-------FOTO------*/
.foto {
  padding-top: 47px;
  padding-bottom: 47px;
}
.foto-container .foto-title {
  align-items: center;
  text-align: center;
}
.foto-list {
  display: flex; 
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.foto-foto {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.foto-title {
 margin-bottom: 50px;
 font-size: 36px;
 line-height: 1.16;
 letter-spacing: 0.03em;
 color: var(--secondary-text-color);
}
/*-------TIME--------*/
.time {
  padding-top: 47px;
  padding-bottom: 47px;
}
.time-container .time-title {
  align-items: center;
  text-align: center; 
}
.time-title-list {
  display: flex; 
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.time-product {
flex-basis: calc(100% / 4 - 30px);
margin-left: 30px;
margin-top: 30px;
}
.time-text{
padding-top: 30px;
padding-bottom: 30px;
}
.time-name{
padding-bottom: 10px;
}
.time-title {
 margin-bottom: 50px;
 font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}
.time-name {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
}
.after-time-name {
  font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
/*-------FOOTER------*/
.footer-navigation {
  background-color: #2F303A;
  height: 252px;
}
.footer-logo {
display: block;
padding-top: 60px;
padding-bottom: 20px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-title-color);
}
.accent-logo {
color: var(--accent-color);
}
.footer-navigation-list {
  margin-bottom: 51px;
}
.footer-navigation-item {
  padding-bottom: 9px
}
.footer-address-link {
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-title-color);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}
.footer-addres-link {
 font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-addres-link:hover,
.footer-addres-link:focus {
  color: var(--accent-color);
}

/*--------PORTFOLIO------*/

.button-list {
display: flex;
align-items: center;
}
.button-button {
margin-right: 8px;
align-items: center;
}
.button-button:last-child {
margin-right: 0;
}
.button-button{
  margin: 0 auto;
}
.button-link {
margin: 0 auto;
padding: 6px 22px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--secondary-title-color);
cursor: pointer;
text-align: center;
background-color: #F5F4FA;
border-radius: 4px;
border:none;
}
.button-link:hover,
.button-link:focus,
.button-link:active {
background-color: #2196F3;
color: var(--primary-title-color);
border-radius: 4px;
}
.portfolio-title {
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}
.portfolio-after-title {
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
